<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmg.provider1.mapper.ScenceMapper">

    <resultMap id="scence" type="com.xmg.commons.entity.ScenceEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="paramKey" column="param_key"/>
        <result property="dbtype" column="dbtype"/>
        <result property="dbname" column="dbname"/>
        <result property="scence" column="scence"/>
        <result property="columnDesc" column="column_desc"/>
        <result property="clientid" column="clientid"/>
        <result property="desc" column="desc"/>


    </resultMap>

    <select id="queryScence" resultMap="scence">
        SELECT * FROM scence where param_key =#{paramKey} and  clientid =#{clientid}
    </select>


    <select id="getAll" resultMap="scence">
        SELECT * FROM scence
    </select>

    <insert id="add" >
        insert  into  scence(id,name) values (#{id},#{name})
    </insert>
</mapper>